*
{
	padding: 0;
	margin: 0; 
}
a
{
	text-decoration: none;
}
body
{
	height: 3500px;
	width: 1550px;
	margin: 0 auto;
}
a:active
{
	color:#1E50AE;
}
a:link
{
	color: #000;
}
a:visited
{
	color: #000;
}
img
{
	border: none;
}
#body
{
	width: 100%;
	margin: 0 auto;
}
#headb
{
	margin: 0 auto;
	width:100%;
	height:46px;
	position:absolute;
}

#headlist
{
	width:672px;
	height:46px;
	margin:0 auto;
	position:relative;
	border-radius: 25px;
	text-align: center;
	background: #fff;
	-webkit-border-radius:25px; 
	-moz-border-radius:25px;
	-ms-border-radius:25px; 
	-o-border-radius:25px;   

}
.a1
{
	margin: 0 auto;
	text-align: center;
	padding-bottom: 24px;
	padding-top: 34px; 
}
.title1
{
	width: 70px;
	height:46px;
	margin: 13px 0 16px 0;
	float: left;
	display:inline;
	
}
.title2
{
	float:left;
	width: 115px;
	height:46px;
	display:inline;
	margin:13px 0 16px 0;
}

.title3
{
	float: left;
	width: 100px;
	height:46px;
	display:inline;
	margin-top: 13px;
}
.l1
{
	width: 32px;
	height: 30px;
	font: 14px '微软雅黑';
    float: left;
    margin-left: 20px;
    margin-right: 5px;
    color:rgb(30,80,174);
	border-bottom:solid 3px #1E50AE;
	text-decoration:none;
}
.l2
{
	width: 64px;
	padding-left: 30px;
	padding-right: 30px;
	font: 14px '微软雅黑';
	float: left;
    border-left: 2px solid #DEE4EC;
    margin:0 auto;
}
.l3
{
	width: 64px;
	padding-left: 30px;
	font:14px '微软雅黑';
	float: left;
    margin:0 auto;
    border-left: 2px solid #DEE4EC;
}
.lun
 {
 	width: 100%;
 	height: 215px;
 }
.lun1
{
	padding-top: 60px;
	text-align: center;
	font: 34px '微软雅黑';
	margin-bottom: 20px;
}
.lun2
{
	text-align: center;
	font: 31.45px 'Times New Roman';
	margin-bottom: 0;
 }
 #lun3
 {
	height: 600px;
	padding-left: 250px;

 }
.qwe
{
	float: left;
	height: 370px;
}
.asd
{
	padding-right: 155px;
}
.zxc
{
	float: left;
	height: 250px;
}
.aa
{
	font: 14px '微软雅黑';
	color:#909090;
	list-style: outside url(img/7.png) ;
	padding-left: 40px;
	line-height: 2em;
}
.cc
{
	margin-top: 10px;
	margin-bottom: 10px;
	font: 16px '微软雅黑';
	padding-left: 40px;
	color: #000;
}
.c1
{
	margin-top: 20px;
	margin-bottom: 20px;
	font: 16px '微软雅黑';
	padding-left: 20px;
	color: #000;
}
.b
{
 	width: 100%;
 	height: 215px;
 }
.b1
{
	padding-top: 60px;
	text-align: center;
	font: 34px '微软雅黑';
	margin-bottom: 20px;
	color: white;
}
.b2
{
	text-align: center;
	font: 32px 'Times New Roman';
	color: white;
	margin-bottom: 0;
}
.b3
{
	height: 300px;
}
.b4
{
	padding-left: 30px;
}
.b5
{
	height: 200px;
	padding-top: 80px;
	text-align: center;
}
.h
{
	height: 300px;
	width: 500px;
	padding-left: 235px;
	margin-bottom: 90px;
	float: left;
}
.h1
{
	height: 245px;
	width: 515px;
	margin-left: 70px;
	margin-bottom: 90px;
	float: left;
}
#h2
{
	font: 22px '微软雅黑' ;
	padding-bottom: 20px;
}
#h3
{
	font: 18px '微软雅黑' lighter;
	padding-bottom: 35px;
}
#h4
{
	font: 14px '微软雅黑';
	color:#909090;
	line-height: 2em;
	padding-bottom: 35px;
	list-style: outside url(img/7.png);
}
.hh
{
	height: 300px;
	width: 570px;
	margin-left: 200px;
	list-style: none;
	float: left;
}
.hx
{
	font-size: 14px;
	height: 35px;
	border-bottom: 1.5px dashed #BBBBBB;
	padding-top: 15px;
	color: #797979;
	text-align: center;
	list-style: none;
}
.hm
{
	height: 300px;
	width: 570px;
	margin-left: 30px;
	float: left;
}
.hn
{
	font-size: 14px;
	height: 35px;
	padding-top: 15px;
	color: #797979;
	list-style: none;
	text-align: center;
}
.pp
{
	height: 260px;
	width: 1560px; 
	background-color: #323232;
	float: left;
}
.pp li
{
	list-style: none;
}
.pp1
{
	height:260px;
	width:1450px;
	float: left;
	padding-left: 100px;
	padding-top: 70px;
}

.pp2
{
	width: 180px;
	height: 145px;
	color: #F5F5F5;
	float: left;
	margin: 0;
}
.pp2>p
{
	font-size: 18px;
	padding-bottom: 30px;
}
.pp2>ul>li
{
	font-size: 14px;
	line-height: 2.5em;
	margin: 0;
}

.pp3
{
	float: left;
	width: 200px;
	height: 147px;
	margin-right: 30px;
}

.pp4
{
	color: #F5F5F5;
}
.pp5
{
	margin-top: 1px;
	height: 125px;
	width: 1560px; 
	background-color: #323232;
	float: left;
}
.pp5>p
{
	font-size: 14px;
	color: #F5F5F5;
	text-align: center;
	margin-top: 20px;
}
.ll1
{
	font-size: 17px;
}
.ll2
{
	font-size: 14px;
	padding-top: 35px;
}
.ll3
{
	font-size: 14px;
	padding-top: 30px;
}